<configuration>
	<system.runtime.remoting>
		<application>
			<channels>
				<channel ref="http">
					<serverProviders>
						<provider ref="wsdl" />
						<formatter ref="binary" typeFilterLevel="Full" />
						<formatter ref="soap" typeFilterLevel="Full" />
					</serverProviders>
				</channel>
			</channels>
			<service>
				<wellknown mode="SingleCall" type="Kf.RemoteObject.LoginControl, Kf.RemoteObject" objectUri="LoginControl.rem" />
				<wellknown mode="SingleCall" type="Kf.RemoteObject.ActObject, Kf.RemoteObject" objectUri="RemoteObject.rem" />
				<wellknown mode="SingleCall" type="Kf.RemoteObject.UpdateCom, Kf.RemoteObject" objectUri="UpdateCom.rem" />
				<wellknown mode="SingleCall" type="Kf.DataAccessL.SqlDataStore, Kf.DataAccessL" objectUri="SqlDataStore.rem" />
				<wellknown mode="SingleCall" type="Kf.DataAccessL.SqlNativeQuery, Kf.DataAccessL" objectUri="SqlNativeQuery.rem" />
				<wellknown mode="SingleCall" type="Kf.DataAccessL.GetDataByRows, Kf.DataAccessL" objectUri="GetDataByRows.rem" />
				<wellknown mode="SingleCall" type="Kf.Workflow.SMS.SMSSentor, Kf.WorkflowSMS" objectUri="WorkflowSMS.rem" />
				<wellknown mode="SingleCall" type="Kf.Workflow.SMS.OuterSMSSentor, Kf.WorkflowSMS" objectUri="OuterSendSMS.rem" />
				<wellknown mode="SingleCall" type="Kf.DataAccessL.MiddleComCall, Kf.DataAccessL" objectUri="MiddleComCall.rem" />
				<wellknown mode="SingleCall" type="Kf.RemoteObject.LoginControl, Kf.RemoteObject" objectUri="LoginControl.soap" />
				<wellknown mode="SingleCall" type="Kf.RemoteObject.ActObject, Kf.RemoteObject" objectUri="RemoteObject.soap" />
				<wellknown mode="SingleCall" type="Kf.RemoteObject.UpdateCom, Kf.RemoteObject" objectUri="UpdateCom.soap" />
				<wellknown mode="SingleCall" type="Kf.DataAccessL.SqlDataStore, Kf.DataAccessL" objectUri="SqlDataStore.soap" />
				<wellknown mode="SingleCall" type="Kf.DataAccessL.SqlNativeQuery, Kf.DataAccessL" objectUri="SqlNativeQuery.soap" />
				<wellknown mode="SingleCall" type="Kf.DataAccessL.GetDataByRows, Kf.DataAccessL" objectUri="GetDataByRows.soap" />
				<wellknown mode="SingleCall" type="Kf.Workflow.SMS.SMSSentor, Kf.WorkflowSMS" objectUri="WorkflowSMS.soap" />
				<wellknown mode="SingleCall" type="Kf.Workflow.SMS.OuterSMSSentor, Kf.WorkflowSMS" objectUri="OuterSendSMS.soap" />
				<wellknown mode="SingleCall" type="Kf.DataAccessL.MiddleComCall, Kf.DataAccessL" objectUri="MiddleComCall.soap" />
				<wellknown mode="SingleCall" type="Kf.AutoGenLicense.AutoGenLicense, Kf.AutoGenLicense" objectUri="AutoGenLicense.rem" />
			</service>
		</application>
	</system.runtime.remoting>
	<system.web>
	<customErrors mode="On"></customErrors>
		<httpRuntime maxRequestLength="102400" executionTimeout="720" />
	</system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="default.aspx" />
                <add value="login.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>